/* #FFFFF4 #8FD77F #213700 #000000 #FDD142 */

body {
    font-family:'Signika', sans-serif;
    background-color:#F0F0F0;
    padding:0px;
    margin:0px;
}

#topbg {
    background-color: #FDD142;
    opacity: 0.5;
    border:1px dotted #FDD142;
    position:absolute;
    top:0; left:0;
    height: 143px; width: 100%;
}

header {
    font-family:'Gentium Basic', sans-serif;
    background-color: #FDD142;
    color: #000000;
    margin: 20px auto 0px auto;
    padding:0px;
    width: 942px; height: 123px;
    border:1px dotted #FDD142;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

header h1{
    margin:60px 30px 0px 30px;  
}

header h3{
    float: right;
    margin: 0px;
    padding: 0px 60px;
}

ul.hide {
    display: none
}

#menu {
    list-style-type: none;
    display: block;
    margin: 0px auto;
    padding: 0px;
    width: 942px;
    height: 25px;
}

#menu li{
    padding: 5px;
    float: left;
    text-align: center;
    background-color: #FF9B43;
    color: #472B13;
    margin: 1px;
    padding: 0px;
    width: 155px; height: 23px;
}

#menu li:hover {
    background-color: #472B13;
    color: #FF9B43;        
}

#menu .selected {
    background-color: #472B13;
    color: #FF9B43;        
}

div.main {
    background-color: #FFFFFF;
    width: 942px; height: 580px;
    margin: 0px auto;
    padding: 10px 0px;
    border: 0px dotted;
    position: relative;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#path01 li{
    display: block;
    background-color: #8FD77F;
    border: 2px solid #213700;
}

#path01 .p1{
    position: absolute;
    width: 310px; height: 147px;
    top: 0px; left: 0px;
    border-bottom: 1px solid #213700;
}

#path01 .p2{
    position: absolute;
    width: 310px; height: 57px;
    top: 150px; left: 0px;
    border-top: 1px solid #213700;
}

#path01 .p3{
    position: absolute;
    width: 310px; height: 56px;
    top: 300px; left: 0px;
}

#path02 li{
    display: block;
    background-color: #8FD77F;
    border: 2px solid #213700;
}

#path02 .p1{
    position: absolute;
    width: 310px; height: 26px;
    top: 120px; left: 314px;
}

#path02 .p2{
    position: absolute;
    width: 310px; height: 86px;
    top: 210px; left: 314px;
}

#path02 .p3{
    position: absolute;
    width: 310px; height: 116px;
    top: 300px; left: 314px;
}

#path02 .p4{
    position: absolute;
    width: 210px; height: 26px;
    top: 390px; left: 164px;
}

#path03 li{
    display: block;
    background-color: #8FD77F;
    border: 2px solid #213700;
}

#path03 .p1{
    position: absolute;
    width: 310px; height: 206px;
    top: 0px; left: 0px;
}

#path03 .p2{
    position: absolute;
    width: 310px; height: 86px;
    top: 210px; left: 314px;
}

#path03 .p3{
    position: absolute;
    width: 310px; height: 26px;
    top: 270px; left: 628px;
}

#path03 .p4{
    position: absolute;
    width: 310px; height: 26px;
    top: 330px; left: 628px;
}

#path03 .p5{
    position: absolute;
    width: 310px; height: 26px;
    top: 360px; left: 628px;
}

#path03 .p6{
    position: absolute;
    width: 310px; height: 26px;
    top: 390px; left: 628px;
}

#path04 li{
    display: block;
    background-color: #8FD77F;
    border: 2px solid #213700;
}

#path05 li{
    display: block;
    background-color: #8FD77F;
    border: 2px solid #213700;
}

#path06 li{
    display: block;
    background-color: #8FD77F;
    border: 2px solid #213700;
}

#path07 li{
    display: block;
    background-color: #8FD77F;
    border: 2px solid #213700;
}

footer {
    background-color: #FF9B43;
    color: #472B13;
    text-align: center;
    position: absolute;
    width: 942px;
    top: 430px; left: 0px;
    margin: 0px auto;
    padding: 0px;
    border-top: 1px solid #FF7400;
    border-bottom: 1px solid #FF7400;
}

footer p{
    margin: 0px;
}
